@charset'UTF-8';
html { -webkit-text-size-adjust: 100%; }
html, body { width: 100%; min-width: 320px; height: 100%; }
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: '-apple-system-font',Arial,Helvetica,'sans-serif'; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 0; -webkit-touch-callout: none; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
input, textarea, select { -webkit-user-select: auto; }
textarea { resize: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a { cursor: pointer; text-decoration: none; outline: 0; }
ul, dl { list-style: none; }
img { display: block; }
i, em { font-style: normal; text-decoration: none; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
input { border: 0; outline: none; -webkit-appearance: none; }
a, img, button, input, textarea { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
input:focus { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-user-modify: read-write-plaintext-only; }
input[type='button'], input[type='submit'], input[type='reset'], textarea { border: 0; -webkit-appearance: none; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { border: 0; -webkit-appearance: none !important; }
input[type='number'] { -moz-appearance: textfield; }
input[disabled], input[disabled]:hover { color: #999; background-color: #fff; }
input:focus, textarea:focus, button:focus { outline: none; }
input::-ms-clear { display: none; }
button { -moz-border-radius: 0; border-radius: 0; }
svg { -webkit-transform-origin: 0; -moz-transform-origin: 0; -ms-transform-origin: 0; transform-origin: 0; }
.clearfix:after { height: 0; display: block; visibility: hidden; clear: both; content: ''; }
.clearfix { zoom: 1; }
.fontArial { font-family: arial; }
.fl { float: left; }
.fr { float: right; }
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.ml20{margin-left:20px;}
.ml42{margin-left:42px;}
.contWidth{width:100%;background:#fff;padding:0 0 23px;}
*{-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.video-top{position:relative;padding:12px 0;height:50px;background-image: linear-gradient(180deg, #ffffff 0%, #FFF4F5 100%);}
.video-top img{width:130px;margin:auto;display:block;}
.video-top-nav{padding:15px 0 0;overflow:hidden;}
.video-top-nav ul{height:35px;}
.video-top-nav li{float:left;width:auto;height:30px;padding:0 0 6px;margin:0 15px;position:relative;}
.video-top-nav li a{display:block;font-weight:bold;line-height:24px;font-size: 17px;color:rgba(255,255,255,.8);}
.video-top-nav li .line{display:none;position:absolute;bottom:0;left:50%;margin-left:-6px;width:12px;height:2px;background:transparent;border-radius: 1px;}
.video-top-nav li.on .line{background:#fff;}
.video-top-nav li.on a{color: #fff;}
.video-banner{width:100%;overflow:hidden;height: 3.75rem}
.video-banner .piclist-link{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center;background-size:cover;}
.video-banner li{float:left;width:100%;height:auto;display:inline-block;vertical-align: top;}
.video-banner .piclist-img{position:relative;}
.video-banner .piclist-img:before{content:"";display:block;padding-top:50%;}
.video-banner-title{position:absolute;bottom:0;left:0;z-index:5;padding:10px 97px 0 9px;width:100%;height:40px;background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, #000000 100%);}
.video-banner-title .title{display:block;font-weight:bold;line-height:20px;font-size: 14px;color:#fff;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.video-banner .swiper-pagination-bullet{width:6px;height:6px;opacity: 0.6;background:#fff;}
.video-banner .swiper-pagination-bullet-active{opacity:1;}
.video-banner .swiper-pagination{text-align: right;padding-right:18px;}
.video-banner.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 2px;}
.video-banner.swiper-container-horizontal>.swiper-pagination-bullets{bottom:13px;right:0;left:auto; display:none;}/*width:97px;*/
.video-other-nav{margin:13px 0 0;padding-bottom:18px;position:relative;font-size:0;-webkit-text-size-adjust:none;}
.video-other-nav:after{content:"";width:200%;height:1px;background:#E5E8ED;transform: scale(0.5);position:absolute;bottom:0;left:-50%;}
.video-other-nav li{width:25%;display:inline-block;}
.video-other-nav li img{width:36px;height:36px;display:block;margin:auto;}
.video-other-nav li p{margin:3px 0 0;line-height:18px;height:18px;font-size: 13px;color: #27272A;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.video-index-title{height:24px;padding:0 15px;line-height:24px;font-weight:bold;font-size: 17px;color: #27272A;}
.video-list-box{padding:0 7.5px;}
.video-list-box dd{float:left;margin:20px 7.5px 0;width:calc((100% - 45px)/3);}
.video-list-box .video-item-top{width:100%;position:relative;}
.video-list-box .video-item-top img{width:100%;height:2.8rem;}
.video-list-box .video-item-top .mark-box{padding:2px 4px 2px 0;position:absolute;bottom:0;left:0;right:0;height:24px;background-image: linear-gradient(180deg, rgba(39,39,42,0.00) 0%, #27272A 100%);}
.video-list-box .video-item-top .mark{text-align: right;font-size: 11px;line-height:20px;color:#fff;}
.video-list-box .video-item-name{margin:10px 0 0;line-height:24px;font-size: 16px;color: #27272A;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.video-list-box .video-item-play{min-height:18px;line-height:18px;font-size: 13px;color: #8D8D95;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.video-other-more{padding-top:32px;height:66px;background-image: linear-gradient(180deg, #FFFFFF 0%, #FFF4F5 100%);}
.video-other-more .more-item{width:50%;text-align: center;font-size: 14px;color: #FF556E;}
.video-other-more .more-item span{display:inline-block;line-height:24px;padding-right:19px;background:url(/images/video/icon-jt1.png) no-repeat right center;background-size:16px 16px;}
.video-other-more .more-item span.change{background:url(/images/video/icon-gx.png) no-repeat right center;background-size:16px 16px;}
.video-add-column{margin:15px 15px 0;}
.video-add-column img{display:block;width:100%;border-radius: 10px;}
.video-index-notice{margin:20px 15px;}
.video-index-notice p{line-height:17px;font-size: 12px;color: #8D8D95;text-align: justify;}
.video-footer{margin:20px 15px 0;padding-bottom:11px;}
.video-footer .footer-top{border-top:1px solid #E5E8ED;padding:10px 0;}
.video-footer .footer-top li{position: relative;width:calc(100% / 3);float:left;height:18px;line-height:18px;text-align: center;font-size: 13px;color: #27272A;}
.video-footer .footer-top li a{display:block;color: #27272A;}
.video-footer .footer-top li a:after{content:"";width:1px;height:12px;background:#d8d8d8;position:absolute;right:0;top:3px;}
.video-footer .footer-top li:last-child a:after{content:"";width:0;}
.video-footer .footer-bottom{height:17px;line-height:17px;font-size: 12px;color: #8D8D95;text-align: center;}
.video-header{padding:12px 0 0;background: #FF556E;}
.video-list-header{padding:12px 0;}
.video-header-top {padding:0 20px;}
.video-header-top .logo{display:block;height:28px;line-height:28px;font-size:22px;color:#fff;font-weight:bold;}
.video-header-top .search-cont{width:calc(100% - 108px);height:28px;line-height:30px;display:block;text-align:center;background: #FFFFFF;border-radius: 17px;}
.video-header-top .search-notice{display:inline-block;height:28px;padding-left:22px;font-size: 13px;color: #ABABAB;line-height:30px;background:url(/images/video/icon-search.png) no-repeat left center;background-size:16px 16px;}
/*list*/
.go-back{position:absolute;top:11px;left:12px;height:20px;line-height:20px;font-size: 15px;font-weight:bold;color: #FF556E;display:inline-block;padding-left:26px;background:url(/images/video/icon-fh-1.png) no-repeat left center;background-size:30px 30px;}
.video-select-box{position:relative;margin:0 15px; }
.video-select-box:after{content:"";width:200%;height:1px;background:#E5E8ED;display:block;position:absolute;bottom:0;left:-50%;transform: scale(0.5);}
.video-select-box .select-item{padding:10px 0;}
.video-select-box .select-item a{margin:0 8px 0 0;display:inline-block;width:auto;padding:0 11px;height:26px;line-height:24px;border: 1px solid transparent;font-size: 15px;color: #27272A;border-radius: 12.5px;}
.video-select-box .select-item a.on{border-color:#FF556E;color:#FF556E;}
.video-banner .go-back{width:26px;height:26px;display:block;display: inline-block;
    -webkit-mask: url(/images/video/icon-fh.png) no-repeat;
    mask: url(/images/video/icon-fh.png) no-repeat;
    background-color: #fff;-webkit-mask-size: 100% 100%; mask-size: 100% 100%;position:absolute;top:12px;left:12px;z-index:999;}

.video-detail-intro{margin:20px 15px 0;}
.video-detail-intro .video-name{max-width:calc(100% - 160px);line-height:24px;font-size: 17px;color: #27272A;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.video-detail-intro .video-source{margin-left:20px;line-height:24px;font-size: 13px;color: #8D8D95;}
.video-detail-intro .video-source-btn{margin-left:6px;cursor:pointer;}
.video-detail-intro .video-source-btn img{width:15px;display:inline-block;vertical-align: middle;}
.video-detail-intro .video-source-btn .source-name{font-size: 13px;color: #27272A;display:inline-block;padding-right:14px;background:url(/images/video/icon-jt3.png) no-repeat right center;background-size:14px 14px;}
.video-detail-intro .video-source .arrow{width:14px;margin-top:5px;}
.video-detail-intro .video-intro-btn{padding-right:14px;line-height:24px;font-size: 13px;color: #27272A;background:url(/images/video/icon-jt2.png) no-repeat right center;background-size:14px 14px;cursor:pointer;}
.video-detail-eval{margin:10px 15px 0;min-height:18px;line-height:18px;font-size: 13px;color: #8D8D95;}
.video-detail-eval .fontArial{color: #FF556E;}
.video-detail-series{margin:20px 0 0;}
.video-detail-series-top{margin:0 15px;}
.video-detail-series-top span{display:inline-block;height:24px;line-height:24px;font-size: 17px;color: #27272A;}
.video-detail-series-top .video-detail-series-btn{font-size: 13px;background:url(/images/video/icon-jt2.png) no-repeat right center;background-size:14px 14px;padding-right:14px;cursor:pointer;}
.video-detail-series-bottom{margin:0 7px 0 0;}
.video-detail-series-bottom li{margin:16px 0px 0 15px;width: auto;padding: 0 15px;height:36px;line-height:36px;float:left;background: #EFEFEF;border-radius: 4px;text-align: center;}
.video-detail-series-bottom li a{display:block;color: #27272A;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.video-detail-series-bottom li.on a{display:block;color: #FF556E;}
.h6F3{height:6px;width:100%;background:#f3f3f3;}
.pop-mask{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:9999;}
.pop-intro{width:100%;height:calc(100% - 185px);background:#fff;position:fixed;bottom:-100%;left:0;z-index:99999;transition:all .3s linear;}
.pop-title{height:50px;position: relative;padding:15px 0;margin:0 15px;}
.pop-title:after{content:"";display:block;width:200%;height:1px;background:#E5E8ED;display:block;position:absolute;bottom:0;left:-50%;transform: scale(0.5);}
.pop-title .title{display:block;line-height:20px;font-size: 16px;color: #27272A;}
.pop-content{height:calc(100% - 50px);overflow:auto;}
.pop-close-btn{width:20px;cursor:pointer;}
.pop-intro-title{margin:20px 15px 0;line-height:20px;font-size: 16px;color: #27272A;font-weight:bold;}
.pop-intro-detail{margin:12px 15px 0;line-height:26px;font-size: 14px;color: #27272A;}
.body-mode{height:100%;overflow:hidden;}
.pop-series-sort{display:block;height:20px;line-height:20px;padding-right:16px;font-size: 14px;color: #27272A;background:url(/images/video/icon-px.png) no-repeat right center;background-size:12px 12px;cursor:pointer;}
.pop-series-sort.fsort{background:url(/images/video/icon-px1.png) no-repeat right center;background-size:12px 12px;}
.pop-content-list li{margin:16px 8px 0;}
/*search*/
.video-search-contanier{padding-top:46px;}
.video-search-box{position:relative;padding:0 15px 0 32px;margin:9px 0 0 15px;width:calc(100% - 77px);height:28px;font-size:13px;color: #1E1E1F;background: #F2F4F6;border-radius: 16px;}
.video-search-box .search-input{width:100%;height:28px;font-size:13px;color: #27272A;background: #F2F4F6;-webkit-appearance:none;}
.video-search-img{width:16px;height:16px;display:inline-block;position:absolute;top:6px;left:10px;}
.video-search-img img{width:16px;height:16px;}
.video-search-box .search-delete{display:none;position:absolute;top:7px;right:13px;z-index:1001;width:15px;height:15px;}
.video-search-box .search-delete.show{display:block;}
/*input[type=search]::-webkit-search-cancel-button{ -webkit-appearance: none; position: relative; height: 14px; width: 14px; border-radius: 50%; background :#EBEBEB url(/images/video/nav_clear.png) no-repeat center; background-size: 14px 14px; }*/
input[type=search]::-webkit-search-cancel-button{ -webkit-appearance: none; }
.video-history-search{position:relative;}
.search-title{position:relative;margin-top:11px;padding:0 15px 0 22px;height:20px;line-height:20px;font-size:13px;color: #8D8D95;}
.search-title:after{content:"";width:2px;height:12px;background: #FF556E;border-radius: 1.5px;position:absolute;top:3px;left:15px;}
.search-histoty-list{padding:5px 7.5px 20px;}
.search-histoty-list li{float:left;margin:15px 7.5px 0;width:calc(50% - 15px);height:21px;line-height:21px;font-size:15px;color: #27272A;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.search-histoty-list li a{font-size: 15px;color: #27272A;}
.history-delete {position:absolute;top:-12px;right:5px;z-index:99;padding:14px;width:44px;height:44px;cursor:pointer;}
.history-delete img{width:16px;height:16px;}
.index-search-fix{position:fixed;top:0;left:0;z-index:99999;width:100%;height:46px;background:#fff;}
.search-cancel{display:inline-block;padding:0 15px 0 6px;height:46px;line-height:46px;font-size: 16px;color: #27272A;}
.search-btn-search{display:none;}
.search-delete{display:none;position:absolute;top:6px;right:10px;z-index:1001;width:16px;height:16px;}
.search-delete.show{display:block;}
.index-search-fix ::-webkit-input-placeholder{font-size:13px;color: #ababab;}
.index-search-fix ::-moz-placeholder{font-size:13px;color: #ababab;}
.index-search-fix :-moz-placeholder{font-size:13px;color: #ababab;}
.video-search-rank .video-top-nav li,.video-search-rank .video-top-nav ul{height:24px;}
.video-search-rank .video-top-nav li a{line-height:20px;font-size: 15px;color: #27272A;font-weight:normal;}
.video-search-rank .video-top-nav li.on a{color: #FF556E;}
.video-search-rank .video-top-nav li.on .line{background: #FF556E;}
.video-search-rank-list dl{padding:5px 15px 0;}
.video-search-rank-list dd{padding:15px 0;position:relative;}
.video-search-rank-list dd:after{content:"";width:200%;height:1px;background:#E5E8ED;transform: scale(0.5);position:absolute;bottom:0;left:-50%;}
.rank-item-num{display:inline-block;background: #e4e4e4;min-width:14px;height:14px;text-align:center;font-size: 11px;color:#989898;border-radius: 2px;font-family: arial;}
.rank-item-num.clrnum01{background: #fe5722;color:#FFFFFF;}
.rank-item-num.clrnum02{background: #ff972a;color:#FFFFFF;}
.rank-item-num.clrnum03{background: #f55d6c;color:#FFFFFF;}
.rank-item-name{margin-left:10px;font-size: 13px;color: #27272A;line-height:14px;}
.rank-item-eval{font-size: 12px;color: #8D8D95;line-height:14px;}
.pop-history{display:none;position:fixed;top:50%;left:50%;z-index:99999;margin:-57px 0 0 -39%;width:78%;background: #FAFBFC;border-radius: 12px;}
.pop-history-notice{padding:24px;border-bottom:1px solid #D9D9DA;text-align: center;font-size: 17px;color:#000;line-height:22px;font-weight:bold;}
.pop-history-btn .history-btn{display:inline-block;width:50%;height:43px;line-height:43px;font-size: 17px;color: #FF556E;text-align: center;}
.pop-history-btn .history-btn-ok{border-left:1px solid #D9D9DA;}
.pop-history-btn .history-btn-cancel{font-weight:bold;}
.video-search-snav .video-top-nav{padding:6px 0 0;}
.video-search-result-list dd{margin:15px 15px 0;}
.sresult-item-left{width:105px;position:relative;}
.sresult-item-left img{width:100%;height:auto;}
.sresult-item-left .mark-box{padding:2px 4px 2px 0;position:absolute;bottom:0;left:0;right:0;height:24px;background-image: linear-gradient(180deg, rgba(39,39,42,0.00) 0%, #27272A 100%);}
.sresult-item-left .mark{text-align: right;font-size: 11px;line-height:20px;color:#fff;}
.sresult-item-right{width:calc(100% - 115px);}
.sresult-item-right .name{height:22px;line-height:22px;font-size: 16px;color: #27272A;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.sresult-item-right .intro{margin:6px 0 0;height:90px;font-size: 13px;text-align: justify;line-height:18px;color: #8D8D95;display: -webkit-box; overflow: hidden; white-space: normal !important; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 5; -webkit-box-orient: vertical; }
.sresult-item-right .type{margin:4px 0 0;font-size: 13px;color: #8D8D95;}
.sresult-item-right .type .fontArial{font-size:12px;}
.search-result-notice{margin:30px 0 0;height:18px;line-height:18px;font-size: 13px;color: #8D8D95;text-align: center;margin-bottom: 10px;}
.tab-list{display:none;}
.tab-list.isshow{display:block;}
.video-index-other-nav li{background:#F5F6F7;}
.video-index-other-nav ul{padding-bottom:18px;}
.video-index-other-nav ul:after{content: "";width: 200%;height: 1px;background: #E5E8ED;transform: scale(0.5);position: absolute;bottom: 0;left: -50%;visibility:visible;}
.video-play-btn{position:absolute;top:50%;left:50%;margin:-21px 0 0 -21px;width:43px;height:43px;background: #FF556E;border: 1px solid #FFFFFF;border-radius: 50%;cursor: pointer;z-index: 100}
.play-toggle-box{position:absolute;top:12px;left:17px;width:0;height:0;border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:12px solid #fff;}
.play-toggle{position:absolute;top:-6px;left:-11px;width:0;height:0;border-top:6px solid transparent;border-bottom:7px solid transparent;border-left:9px solid #C6245F;}

#play-video {width: 100%;}
.video-banner .piclist-img:before {padding: 0px;}
.swiper-container-video{height: 3.8rem;}
.sort-desc {display: none;}
.pop-video-mask {display: none;position: fixed;top: 3.8rem;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.6);z-index: 9999;}
.video-pop-speed {height: 220px;}
.video-pop-speed .pop-content {overflow: hidden;}
.pop-speed {width: 100%;padding: 10px;}
.pop-speed .pop-speed-li {width: 100%;border-bottom: 1px solid #f7f7f7;height: 40px;line-height: 40px;font-size: 0.25rem;}
.speed-select {color: #FF556E;}
.video-detail-intro .video-source {margin-left: 5px;}
.video-detail-intro .video-name {max-width: calc(100% - 210px);}
.clearfix-overflow {white-space: nowrap;overflow-x: auto;}
.clearfix-overflow::-webkit-scrollbar {width: 0;height: 0;color: transparent;}
.video-title {text-align:center;line-height:0.9rem;color:#ffffff;font-size:0.35rem;width: 100%;height: 0.9rem;background-color: #FF556E;padding: 0px 50px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;position: relative;font-weight: 500}
.video-box {width: 100%;height: 4.7rem;position: fixed;top: 0;left: 0;z-index: 99;}
.video-detail-intro {margin-top: 4.9rem;}
