/*
  sass混合
*/
.tab {
    position: relative;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tab.has-line {
    position: relative;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
}
.tab.has-line:before {
    border-bottom: 1px solid #ebebeb;
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .tab.has-line:before {
        bottom: -.7px;
        -webkit-transform: scale(1, 0.7);
        -ms-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .tab.has-line:before {
        bottom: -.5px;
        -webkit-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .tab.has-line:before {
        bottom: -.33px;
        -webkit-transform: scale(1, 0.33);
        -ms-transform: scale(1, 0.33);
        transform: scale(1, 0.33);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
.tab .tab-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.444444rem;
    color: #666;
    line-height: 0.611111rem;
    height: 1.111111rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
}
.tab .tab-item.active {
    color: #FF8D00;
    font-weight: bold;
}
.tab .tab-dot {
    position: absolute;
    left: 0;
    bottom: 0.055556rem;
    width: 0.444444rem;
    height: 0.083333rem;
    background: -webkit-gradient(linear, left top, right top, from(#ffb028), to(#ff8d00));
    background: -webkit-linear-gradient(left, #ffb028 0%, #ff8d00 100%);
    background: -o-linear-gradient(left, #ffb028 0%, #ff8d00 100%);
    background: linear-gradient(90deg, #ffb028 0%, #ff8d00 100%);
    border-radius: 0.083333rem;
}
@charset "UTF-8";

/*
  sass混合
*/
.my-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
.my-card .scroll-wrapper {
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.my-card .scroll-wrapper .scroll-content {
    padding-bottom: .5rem;
}
.my-card .scroll-wrapper.no-tab .scroll-content {
    padding-top: 0.222222rem;
    padding-bottom: 2rem;
}
.my-card-info {
    position: relative;
    margin: 0.444444rem 0.388889rem 0.666667rem;
    padding: 0.444444rem 0.444444rem 0.222222rem 0.444444rem;
    background: -webkit-linear-gradient(135deg, #FFAF0F 0%, #FF9F0F 100%);
    background: -o-linear-gradient(135deg, #FFAF0F 0%, #FF9F0F 100%);
    background: linear-gradient(315deg, #FFAF0F 0%, #FF9F0F 100%);
    -webkit-box-shadow: 0 0.111111rem 0.444444rem 0 rgba(255, 176, 40, 0.2);
    box-shadow: 0 0.111111rem 0.444444rem 0 rgba(255, 176, 40, 0.2);
    border-radius: 0.333333rem;
}
.my-card-info .card-activity-title {
    font-size: .6rem;
    text-align: center;
    margin-bottom: .5rem;
    color: #ff4a26;
    font-weight: bold;
}
.my-card-info .card-title {
    font-size: 0;
    color: white;
    line-height: 0.5rem;
}
.my-card-info .card-title * {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.388889rem;
}
.my-card-info .card-detail {
    position: relative;
    font-size: 0;
}
.my-card-info .card-detail .count {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.777778rem;
    font-family: qimaofamily;
    color: #fff;
    line-height: 0.888889rem;
    font-weight: bold;
}
.my-card-info .card-detail-des {
    display: inline-block;
    vertical-align: middle;
    /*margin-top: 0.083333rem;*/
    margin-left: 0.166667rem;
    padding: 0.055556rem 0.166667rem 0.027778rem;
    font-size: .2rem;
    color: #fff;
    line-height: 0.472222rem;
    background: #ff5f0f;
    border-radius: 0.277778rem 0.277778rem 0.277778rem 0.027778rem;
}
.my-card-info .card-detail .button {
    position: absolute;
    right: 0;
    padding: 0.180556rem 0.333333rem 0.097222rem;
    border-radius: 0.388889rem;
    border: 0.027778rem solid #fff;
    font-size: 0.333333rem;
    font-weight: bold;
    color: #fff;
    line-height: 0.472222rem;
    background: none;
}
.my-card-info .card-coin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.444444rem;
    padding-bottom: 0.444444rem;
    position: relative;
}
.my-card-info .card-coin:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .my-card-info .card-coin:before {
        bottom: -.7px;
        -webkit-transform: scale(1, 0.7);
        -ms-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .my-card-info .card-coin:before {
        bottom: -.5px;
        -webkit-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .my-card-info .card-coin:before {
        bottom: -.33px;
        -webkit-transform: scale(1, 0.33);
        -ms-transform: scale(1, 0.33);
        transform: scale(1, 0.33);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
.my-card-info .card-coin-item {
    position: relative;
    padding-left: 0.444444rem;
    padding-right: 0.444444rem;
    font-size: 0.333333rem;
    color: #fff;
    line-height: 0.527778rem;
}
.my-card-info .card-coin-item:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0.027778rem;
    height: 0.666667rem;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: rgba(255, 255, 255, 0.4);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .my-card-info .card-coin-item:before {
        -webkit-transform: translate(0, -50%) scaleX(0.7);
        -ms-transform: translate(0, -50%) scaleX(0.7);
        transform: translate(0, -50%) scaleX(0.7);
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .my-card-info .card-coin-item:before {
        -webkit-transform: translate(0, -50%) scaleX(0.5);
        -ms-transform: translate(0, -50%) scaleX(0.5);
        transform: translate(0, -50%) scaleX(0.5);
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .my-card-info .card-coin-item:before {
        -webkit-transform: translate(0, -50%) scaleX(0.33);
        -ms-transform: translate(0, -50%) scaleX(0.33);
        transform: translate(0, -50%) scaleX(0.33);
    }
}
.my-card-info .card-coin-item:first-child {
    padding-left: 0;
}
.my-card-info .card-coin-item:last-child:before {
    display: none;
}
.my-card-info .card-coin-item.no-line {
    padding-top: 0.444444rem;
    padding-bottom: 0.138889rem;
    padding-left: 0;
}
.my-card-info .card-coin-item.no-line:before {
    display: none;
}
.my-card-info .card-coin-item .card-coin-count {
    font-size: 0.388889rem;
}
.my-card-info .card-exchange-rate {
    position: relative;
    margin-top: 0.25rem;
    font-size: 0.333333rem;
    color: #fff;
    line-height: 0.472222rem;
}
.my-card-info .card-exchange-rate .rate {
    opacity: 0.8;
}
.my-card-info .card-exchange-rate .prompt {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 0;
}
.my-card-info .card-exchange-rate .prompt * {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.333333rem;
}
.my-card-info .card-exchange-rate .prompt .help {
    margin-left: 0.111111rem;
    margin-bottom: 0.055556rem;
    width: 0.458333rem;
    height: 0.444444rem;
    background: url("/images/my_card_help.png") no-repeat;
    background-size: 100% 100%;
}
.my-card-title {
    padding: 0.333333rem 0.388889rem 0.305556rem;
    font-size: 0.5rem;
    font-weight: bold;
    color: #222;
    line-height: 0.694444rem;
}
.my-card-list {
    padding: 0 0.388889rem;
}
.my-card-list .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .15rem 0;
    position: relative;
}
.my-card-list .list-item:before {
    border-bottom: 1px solid #ebebeb;
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .my-card-list .list-item:before {
        bottom: -.7px;
        -webkit-transform: scale(1, 0.7);
        -ms-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .my-card-list .list-item:before {
        bottom: -.5px;
        -webkit-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .my-card-list .list-item:before {
        bottom: -.33px;
        -webkit-transform: scale(1, 0.33);
        -ms-transform: scale(1, 0.33);
        transform: scale(1, 0.33);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
.my-card-list .list-item-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.my-card-list .list-item-right {
    font-size: 0;
    color: #ff4a26;
    line-height: 0.555556rem;
    font-weight: bold;
}
.my-card-list .list-item-right * {
    display: inline-block;
    vertical-align: center;
    font-size: 0.388889rem;
}
.my-card-list .list-item-title {
    margin-bottom: 0.111111rem;
    font-size: 0.388889rem;
    color: #222;
    line-height: 0.555556rem;
}
.my-card-list .list-item-des {
    font-size: 0.333333rem;
    color: #999;
    line-height: 0.472222rem;
}
.my-card-list .list-loading-text {
    /* 添加消失的动画使元素脱离文档流 可以减少重回元素数量，提升效率 */
    position: relative;
    margin-top: 0.222222rem;
    padding-top: 0.333333rem;
    padding-bottom: 0.333333rem;
    text-align: center;
    font-size: 0;
    color: #999;
    line-height: 0.472222rem;
}
.my-card-list .list-loading-text span {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.333333rem;
}
.my-card-list .list-loading-text.loading:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0.333333rem;
    margin-right: 0.111111rem;
    width: 0.666667rem;
    height: 0.666667rem;
    background: url("/bookimg/free/vue/v1/images/loading.png") no-repeat;
    background-size: 100% 100%;
    -webkit-animation: rotate360-data-v-265de3a8 0.5s linear infinite;
    animation: rotate360-data-v-265de3a8 0.5s linear infinite;
}
.my-card-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.388889rem 1.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
}
.my-card-bottom .button {
    padding-top: 0.305556rem;
    padding-bottom: 0.305556rem;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#FFB028), to(#FF8D00));
    background: -webkit-linear-gradient(left, #FFB028 0%, #FF8D00 100%);
    background: -o-linear-gradient(left, #FFB028 0%, #FF8D00 100%);
    background: linear-gradient(90deg, #FFB028 0%, #FF8D00 100%);
    border-radius: 0.666667rem;
    font-size: 0.444444rem;
    font-weight: bold;
    color: #fff;
    line-height: 0.611111rem;
}
@-webkit-keyframes rotate360-data-v-265de3a8 {
    from {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
    to {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
@keyframes rotate360-data-v-265de3a8 {
    from {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
    to {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
.qm-pop-th {
    padding-top: 0.444444rem;
    text-align: center;
    font-size: 0.444444rem;
    font-weight: bold;
    color: #222;
    line-height: 0.611111rem;
}
.qm-pop-tb {
    padding: 0.222222rem 0.444444rem 0.444444rem;
}
.qm-pop-tb .txt-box .s-des {
    position: relative;
    color: #666;
    margin-bottom: 0.222222rem;
    font-size: 0.388889rem;
    line-height: 0.555556rem;
    text-indent: 0.333333rem;
}
.qm-pop-tb .txt-box .s-des:last-child {
    margin-bottom: 0;
}
.qm-pop-tb .txt-box .s-quote {
    position: absolute;
    left: 0.111111rem;
    top: 0.194444rem;
    width: 0.125rem;
    height: 0.125rem;
    border-radius: 50%;
    background: #FF8D00;
}
.qm-pop-tf {
    position: relative;
}
.qm-pop-tf:before {
    border-top: 1px solid #ebebeb;
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .qm-pop-tf:before {
        -webkit-transform: scale(1, 0.7);
        -ms-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .qm-pop-tf:before {
        -webkit-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .qm-pop-tf:before {
        -webkit-transform: scale(1, 0.33);
        -ms-transform: scale(1, 0.33);
        transform: scale(1, 0.33);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
.qm-pop-tf .qm-pop-bottom-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25rem 0;
    text-align: center;
}
.qm-pop-tf .qm-pop-bottom-btn a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    border-right: 0.013889rem solid #D8D8D8;
    height: 0.833333rem;
    line-height: 0.833333rem;
    font-size: 0.444444rem;
    color: #666;
}
.qm-pop-tf .qm-pop-bottom-btn a:last-child {
    border-right: none;
}
.qm-pop-tf .qm-pop-bottom-btn a.orange {
    color: #FF8D00;
    font-weight: bold;
}
.list-item-right {
    font-size: 0;
    color: #ff4a26;
    line-height: 0.555556rem;
}
.list-item-right * {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.388889rem;
}
.list-item-right .count {
    font-family: qimaofamily;
    margin-bottom: 0.041667rem;
}
.list-item-right .black {
    color: #333;
}
@charset "UTF-8";


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: \9ED1\4F53;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}

input,
button,
select,
textarea {
    outline: medium;
    margin: 0;
    padding: 0;
    border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b3b3b3;
    font-size: 0.194444rem;
    font-weight: normal;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b3b3b3;
    font-size: 0.194444rem;
    font-weight: normal;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #b3b3b3;
    font-size: 0.194444rem;
    font-weight: normal;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b3b3b3;
    font-size: 0.194444rem;
    font-weight: normal;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto;
    /*webkit浏览器*/
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
    background: #f5f5f5;
}

body {
    min-height: 100%;
    background: #f5f5f5;
}

#app {
    height: 100%;
}

.wrapper {
    height: 100%;
    background: #f5f5f5;
}

.wrapper .main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper .main.padding {
    padding-bottom: 1.333333rem;
}

.row {
    background: #fff;
    margin-bottom: 0.222222rem;
    width: 100%;
}

.row:last-child {
    margin-bottom: 0;
}

.row.gray {
    background: #f5f5f5;
}

.row.mb0 {
    margin-bottom: 0;
}

.top-fixed-box,
.bottom-fixed-box {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 250;
}

.top-fixed-box {
    top: 0;
}

.bottom-fixed-box {
    bottom: 0;
}

.qm-layout-mt-10 {
    margin-top: 0.138889rem;
}

.qm-layout-mt-20 {
    margin-top: 0.277778rem;
}

.qm-layout-mt-30 {
    margin-top: 0.416667rem;
}

.qm-layout-mt-40 {
    margin-top: 0.555556rem;
}

.qm-layout-mb-10 {
    margin-bottom: 0.138889rem;
}

.qm-layout-mb-20 {
    margin-bottom: 0.277778rem;
}

.qm-layout-mb-30 {
    margin-bottom: 0.416667rem;
}

.qm-layout-mb-40 {
    margin-bottom: 0.555556rem;
}

.qm-layout-ml-10 {
    margin-left: 0.138889rem;
}

.qm-layout-ml-20 {
    margin-left: 0.277778rem;
}

.qm-layout-ml-30 {
    margin-left: 0.416667rem;
}

.qm-layout-ml-40 {
    margin-left: 0.555556rem;
}

.qm-layout-mr-10 {
    margin-right: 0.138889rem;
}

.qm-layout-mr-20 {
    margin-right: 0.277778rem;
}

.qm-layout-mr-30 {
    margin-right: 0.416667rem;
}

.qm-layout-mr-40 {
    margin-right: 0.555556rem;
}

.qm-layout-pt-10 {
    padding-top: 0.138889rem;
}

.qm-layout-pt-20 {
    padding-top: 0.277778rem;
}

.qm-layout-pt-30 {
    padding-top: 0.416667rem;
}

.qm-layout-pt-40 {
    padding-top: 0.555556rem;
}

.qm-layout-pb-10 {
    padding-bottom: 0.138889rem;
}

.qm-layout-pb-20 {
    padding-bottom: 0.277778rem;
}

.qm-layout-pb-30 {
    padding-bottom: 0.416667rem;
}

.qm-layout-pb-40 {
    padding-bottom: 0.555556rem;
}

.qm-layout-pl-10 {
    padding-left: 0.138889rem;
}

.qm-layout-pl-20 {
    padding-left: 0.277778rem;
}

.qm-layout-pl-30 {
    padding-left: 0.416667rem;
}

.qm-layout-pl-40 {
    padding-left: 0.555556rem;
}

.qm-layout-pr-10 {
    padding-right: 0.138889rem;
}

.qm-layout-pr-20 {
    padding-right: 0.277778rem;
}

.qm-layout-pr-30 {
    padding-right: 0.416667rem;
}

.qm-layout-pr-40 {
    padding-right: 0.555556rem;
}

.km-btn {
    color: #333;
    background: #fff;
    display: block;
    overflow: hidden;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.111111rem;
}

.km-btn.orange {
    background: #FF8D00;
    color: #fff;
}

.km-btn.orange:active {
    background: rgba(255, 162, 0, 0.7);
}

.km-btn[large] {
    height: 1.333333rem;
    line-height: 1.333333rem;
    font-size: 0.444444rem;
}

.km-btn[large80] {
    height: 1.111111rem;
    line-height: 1.111111rem;
    font-size: 0.444444rem;
}

.km-btn[medium] {
    height: 0.888889rem;
    line-height: 0.888889rem;
    font-size: 0.388889rem;
}

.km-btn[small] {
    height: 0.722222rem;
    line-height: 0.722222rem;
    font-size: 0.333333rem;
}

.km-btn[disabled] {
    background: #ebebeb;
    color: #999;
}

.km-bottom-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.333333rem;
    overflow: hidden;
    z-index: 260;
}

.km-bottom-btn .km-bottom-btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.km-bottom-btn .km-bottom-btn-list .km-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 50%;
    border-radius: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    /* column, row-reverse, column-reverse */
    -ms-flex-direction: column;
    flex-direction: column;
    box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.km-bottom-btn .km-bottom-btn-list .km-btn:before {
    border-top: 1px solid #ebebeb;
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .km-bottom-btn .km-bottom-btn-list .km-btn:before {
        -webkit-transform: scale(1, 0.7);
        -ms-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .km-bottom-btn .km-bottom-btn-list .km-btn:before {
        -webkit-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .km-bottom-btn .km-bottom-btn-list .km-btn:before {
        -webkit-transform: scale(1, 0.33);
        -ms-transform: scale(1, 0.33);
        transform: scale(1, 0.33);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

.km-bottom-btn .km-bottom-btn-list .km-btn article {
    display: block;
}

.km-bottom-btn .km-bottom-btn-list .km-btn span {
    display: block;
    overflow: hidden;
}

.km-bottom-btn .km-bottom-btn-list .km-btn span.s-price {
    line-height: 0.611111rem;
    height: 0.611111rem;
    color: #fff;
    font-size: 0.444444rem;
    vertical-align: top;
    font-weight: bold;
}

.km-bottom-btn .km-bottom-btn-list .km-btn span.s-tips {
    opacity: 0.6;
    color: #fff;
    font-size: 0.277778rem;
    line-height: 0.388889rem;
    height: 0.388889rem;
}

.km-bottom-btn .km-bottom-btn-list .km-btn em.line-through {
    text-decoration: line-through;
}

.km-bottom-btn .km-bottom-btn-list .km-btn em.tips {
    display: inline-block;
    font-size: 0.305556rem;
    color: #FF8D00;
    line-height: 0.527778rem;
    height: 0.527778rem;
    padding: 0 0.208333rem;
    margin-right: 0.069444rem;
    vertical-align: middle;
    margin-top: -0.069444rem;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .km-bottom-btn .km-bottom-btn-list .km-btn em.tips {
        position: relative;
        border: 0 none;
    }

    .km-bottom-btn .km-bottom-btn-list .km-btn em.tips:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #FF8D00;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        padding: 0.013889rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 2;
        pointer-events: none;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .km-bottom-btn .km-bottom-btn-list .km-btn em.tips:before {
        width: 143%;
        height: 143%;
        -webkit-transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
        border-radius: 0.119048rem;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .km-bottom-btn .km-bottom-btn-list .km-btn em.tips:before {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        border-radius: 0.166667rem;
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .km-bottom-btn .km-bottom-btn-list .km-btn em.tips:before {
        width: 334%;
        height: 334%;
        -webkit-transform: scale(0.3, 0.3);
        -ms-transform: scale(0.3, 0.3);
        transform: scale(0.3, 0.3);
        border-radius: 0.277778rem;
    }
}

.km-bottom-btn .km-bottom-btn-list .km-btn.orange:before {
    display: none;
}

.km-bottom-btn .km-bottom-btn-list .experience-btn span {
    display: block;
}

.km-bottom-btn .km-bottom-btn-list .experience-btn span.s-tit {
    line-height: 0.833333rem;
}

.km-bottom-btn .km-bottom-btn-list .experience-btn span.s-des {
    line-height: 0.5rem;
}

.km-bottom-btn-space {
    height: 1.305556rem;
    display: block;
    width: 100%;
}

.km-scroll {
    overflow: hidden;
    position: relative;
}

.km-scroll.padding {
    padding: 0.277778rem 0;
}

.km-scroll-con {
    overflow: hidden;
}

.km-scroll-con.h500 {
    max-height: 6.944444rem;
}

.km-scroll-con.x {
    width: 100%;
}

.km-scroll-con.y {
    height: 100%;
}

.km-error {
    text-align: center;
    padding: 1.388889rem 0.416667rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.km-error .error-icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 7.722222rem 3.888889rem;
    margin: 0 auto;
    display: block;
    width: 7.722222rem;
    height: 3.888889rem;
}

.km-error .s-tips {
    font-size: 0.388889rem;
    line-height: 0.666667rem;
    color: #666;
    display: block;
    padding-top: 0.083333rem;
}

.km-error .s-tips.third {
    color: #999;
}

.km-error .a-btn {
    padding: 0 0.416667rem;
    margin: 0.416667rem auto 0;
    display: inline-block;
}

.km-error.error-404 .error-icon {
    background-image: url(https://img1.km.com/bookimg/free/vue/v1/images/error-404-pic.png);
}

.km-error.error-no-data .error-icon {
    background-image: url(https://img1.km.com/bookimg/free/vue/v1/images/no-data-pic.png);
}

.km-error.error-no-data .button {
    margin-top: 0.388889rem;
    padding: 0.138889rem 0.444444rem;
    font-size: 0.333333rem;
    font-weight: bold;
    line-height: 0.472222rem;
}

.km-error.error-no-data .button.normal {
    background: -webkit-gradient(linear, left top, right top, from(#FFB028), to(#FF8D00));
    background: -webkit-linear-gradient(left, #FFB028 0%, #FF8D00 100%);
    background: -o-linear-gradient(left, #FFB028 0%, #FF8D00 100%);
    background: linear-gradient(90deg, #FFB028 0%, #FF8D00 100%);
    border-radius: 0.388889rem;
    color: #fff;
}

.km-error.fixed {
    position: fixed;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -70%);
    -ms-transform: translate(0, -70%);
    transform: translate(0, -70%);
    padding: 0 0.416667rem;
}

.km-error.small-padding {
    padding-top: 0.555556rem;
    padding-bottom: 0;
}


@font-face {
    font-family: 'iconfont';
    /* project id 722842 */
    src: url("//at.alicdn.com/t/font_722842_pxpu8abvoom.eot");
    src: url("//at.alicdn.com/t/font_722842_pxpu8abvoom.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_722842_pxpu8abvoom.woff2") format("woff2"), url("//at.alicdn.com/t/font_722842_pxpu8abvoom.woff") format("woff"), url("//at.alicdn.com/t/font_722842_pxpu8abvoom.ttf") format("truetype"), url("//at.alicdn.com/t/font_722842_pxpu8abvoom.svg#iconfont") format("svg");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.222222rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.002778rem;
    -moz-osx-font-smoothing: grayscale;
}


/* 弹框 */
.free-pop {
    position: fixed;
    z-index: 1010;
    text-align: left;
    /*background: #fff;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}
.free-pop .free-pop-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}
.free-pop .km-pop {
    position: fixed;
    z-index: 1010;
    left: 50%;
    top: 50%;
    text-align: left;
    background: #fff;
    overflow: hidden;
    width: 8.333333rem;
    border-radius: 0.333333rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.km-pop .qm-pop-th {
    padding-top: 0.555556rem;
    color: #333;
    font-size: 0.444444rem;
    line-height: 0.611111rem;
    text-align: center;
}
.km-pop .qm-pop-tb {
    padding: 0.555556rem 0.555556rem 0.722222rem;
}
.km-pop .qm-pop-tb .txt-box .s-des {
    color: #666;
    font-size: 0.388889rem;
    line-height: 0.555556rem;
}
.km-pop .qm-pop-tb .txt-box .exchange_tips {
    text-align: center;
    color: #666;
    font-size: 0.30rem;
    line-height: 0.555556rem;
}
.free-pop .qm-pop-tb .txt-box .s-des .candy_num {
    width: 15%;
    height: .45rem;
    font-size: .4rem;
    border-bottom: .02rem solid #FF8D00;
    text-align: center;
    border-radius: 0;
}
.free-pop .qm-pop-tb .txt-box .s-des .alipay_user,.alipay_name {
    width: 60%;
    height: .5rem;
    font-size: .4rem;
    border-bottom: .02rem solid #FF8D00;
    text-align: center;
    border-radius: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .km-pop .qm-pop-tf {
        border: 0 none;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #ebebeb));
        background-position: left top;
        background-repeat: repeat-x;
        background-size: 100% 1px;
    }
}
.km-pop .qm-pop-tf .qm-pop-bottom-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25rem 0;
    text-align: center;
}
.km-pop .qm-pop-tf .qm-pop-bottom-btn a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    border-right: 0.013889rem solid #D8D8D8;
    height: 0.833333rem;
    line-height: 0.833333rem;
    font-size: 0.388889rem;
    color: #666;
}
.km-pop .qm-pop-tf .qm-pop-bottom-btn a:last-child {
    border-right: none;
}
.km-pop .qm-pop-tf .qm-pop-bottom-btn a.orange {
    color: #FF8D00;
}


/* 提现页 */

.withdraw .balance {
    margin-bottom: 0.222222rem;
    padding: 0.583333rem 0.388889rem;
    background: #fff;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}
.withdraw .balance * {
    vertical-align: middle;
}
.withdraw .balance .normal {
    font-size: 0.444444rem;
    color: #222;
    line-height: 0.611111rem;
}
.withdraw .balance .count {
    margin-bottom: 0.111111rem;
    font-size: 0.666667rem;
    font-family: qimaofamily;
    color: #333;
    line-height: 0.777778rem;
}
.withdraw .balance .des {
    margin-top: 0.027778rem;
    margin-left: 0.111111rem;
    font-size: 0.333333rem;
    color: #666666;
    line-height: 0.472222rem;
}
.withdraw .page-mod {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0.222222rem 0.388889rem 0.75rem;
    background: #fff;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.withdraw .page-mod .mod-title {
    padding: 0.333333rem 0;
    font-size: 0;
    font-weight: bold;
    color: #222;
    line-height: 0.694444rem;
}
.withdraw .page-mod .mod-title * {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5rem;
}
.withdraw .page-mod .mod-title .mod-icon {
    margin-left: 0.222222rem;
    width: 1.833333rem;
    height: 0.444444rem;
    background: url("/images/withdraw_tips_pic.png") no-repeat;
    background-size: 100% 100%;
}
.withdraw .page-mod .withdraw-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0.222222rem;
    margin-bottom: 0.222222rem;
}
.withdraw .page-mod .withdraw-list .withdraw-item {
    position: relative;
    width: calc(50% - 0.222222rem);
    margin-top: 0.222222rem;
    margin-bottom: 0.222222rem;
    padding-top: 0.277778rem;
    padding-bottom: 0.25rem;
    background: -webkit-gradient(linear, left top, right top, from(#FFB028), to(#FF8D00));
    background: -webkit-linear-gradient(left, #FFB028 0%, #FF8D00 100%);
    background: -o-linear-gradient(left, #FFB028 0%, #FF8D00 100%);
    background: linear-gradient(90deg, #FFB028 0%, #FF8D00 100%);
    border-radius: 0.222222rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
.withdraw .page-mod .withdraw-list .withdraw-item.cash-item {
    padding-top: 0.361111rem;
    padding-bottom: 0.361111rem;
}
.withdraw .page-mod .withdraw-list .withdraw-item:nth-child(2n) {
    margin-left: 0.222222rem;
}
.withdraw .page-mod .withdraw-list .withdraw-item:nth-child(2n + 1) {
    margin-right: 0.222222rem;
}
.withdraw .page-mod .withdraw-list .withdraw-item-title {
    font-size: 0.444444rem;
    font-weight: bold;
    line-height: 0.611111rem;
    text-align: center;
}
.withdraw .page-mod .withdraw-list .withdraw-item-des {
    font-size: 0.333333rem;
    line-height: 0.472222rem;
    text-align: center;
}
.withdraw .page-mod .withdraw-list .withdraw-item.disabled {
    background: #F5F5F5;
    color: #BBBBBB;
}
.withdraw .page-mod .withdraw-list .withdraw-item.disabled .withdraw-item-title {
    font-weight: normal;
}
.withdraw .page-mod .withdraw-list .withdraw-item-icon {
    position: absolute;
    top: -0.277778rem;
    left: 1.388889rem;
    z-index: 50;
    padding: 0.027778rem 0.166667rem;
    background: #FF5F0F;
    border-radius: 0.277778rem 0.277778rem 0.277778rem 0.027778rem;
    font-size: 0.333333rem;
    color: #fff;
    line-height: 0.472222rem;
    white-space: nowrap;
}
.withdraw .page-mod .mod-link {
    padding: 0.277778rem 0 0.5rem 0;
    font-size: 0;
    color: #666;
    line-height: 0.555556rem;
    text-align: center;
    position: relative;
}
.withdraw .page-mod .mod-link:before {
    border-bottom: 1px solid #ebebeb;
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .withdraw .page-mod .mod-link:before {
        bottom: -.7px;
        -webkit-transform: scale(1, 0.7);
        -ms-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .withdraw .page-mod .mod-link:before {
        bottom: -.5px;
        -webkit-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .withdraw .page-mod .mod-link:before {
        bottom: -.33px;
        -webkit-transform: scale(1, 0.33);
        -ms-transform: scale(1, 0.33);
        transform: scale(1, 0.33);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
.withdraw .page-mod .mod-link span,
.withdraw .page-mod .mod-link .iconfont {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.388889rem;
}
.withdraw .page-mod .mod-link .iconfont {
    font-size: 0.333333rem;
    color: #999;
}
.withdraw .page-mod .article-title {
    margin-top: 0.444444rem;
    margin-bottom: 0.222222rem;
    font-size: 0.388889rem;
    color: #666;
    line-height: 0.555556rem;
}
.withdraw .page-mod .article-des {
    margin-bottom: 0.166667rem;
    font-size: 0.333333rem;
    color: #999;
    line-height: 0.472222rem;
}
.withdraw .page-mod .article-btn {
    font-size: 0.333333rem;
    color: #FF8D00;
    line-height: 0.472222rem;
}

/* 消息通知 */
.my-card-list li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: .5rem 1.1667rem;
    position: relative
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    .my-card-list li {
        border: 0 none;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #EBEBEB));
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 100% 1px
    }
}

.my-card-list li .i-point {
    position: absolute;
    width: .5rem;
    height: .5rem;
    -moz-border-radius: .5rem;
    -webkit-border-radius: .5rem;
    border-radius: .5rem;
    background: #ff4242;
    overflow: hidden;
    top: .4167rem;
    left: .8333rem;
    z-index: 5
}

.my-card-list li .iconfont {
    line-height: 1.6667rem;
    height: 1.6667rem;
    display: block;
    width: 1.6667rem;
    text-align: center;
    margin-right: .6667rem;
    font-size: 2rem
}

.my-card-list li .p-txt {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: block
}

.my-card-list li .p-txt span {
    display: block
}

.my-card-list li .p-txt span.s-tit {
    line-height: 1.6667rem;
    font-size: 1.1667rem;
    color: #666
}

.my-card-list li .p-txt span.s-des {
    font-size: 1rem;
    color: #999;
    line-height: 1.4167rem;
    padding-top: .25rem
}

.my-card-list li.cur .i-point {
    display: none
}
